.wrapperrrrr {
    margin-top: 100px;
    padding: 20px;
    max-width: 80%;
    padding-left: 25%;

    .alignContent {
        display: flex;

        a {
            color: black;       
            text-decoration: none;    
            text-underline-offset: none;
        }

        img {
            margin-top: 10px;
            width: 200px;
            height: 150px;
        }

        h2 {
            margin-top: 0;
            padding-bottom: 10px;

        }

        p {
            align-items: end;
        }

        .content-wrapper {
            display: grid;
            margin-left: 30px;
        }
        span{
            font-size: 13px;
        }
    }
    .btn-blog{
        border-top: 1px solid #eee;
        margin: 10px 0;
        button{
            font:700 12px / 24px Roboto, Helvetica, Arial, sans-serif;
            font-size: 10px;
            width: 20%;
            height: 35px;
            margin-top: 30px;
            background: #0386cf;
            color: #fff;
            border: 0;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}
@media (max-width: 1024px) {
    .wrapperrrrr {
        margin-top: 110px;
        padding: 20px;
        max-width: 100%;
        padding-left: 10px;
    }
    .wrapperrrrr .alignContent {
        gap: 20px;
        display: flex; 
    }
    .wrapperrrrr .alignContent img {
        
        margin-top: 10px;
        width: 200px;
        height: 150px;
    }
    .wrapperrrrr .alignContent .content-wrapper {
        
         margin-left: 0;
    }
    .wrapperrrrr .btn-blog button {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .wrapperrrrr {
        margin-top: 50px;
        padding: 20px;
        max-width: 100%;
        padding-left: 10px;
    }
    .wrapperrrrr .alignContent {
        display: block; 
    }
    .wrapperrrrr .alignContent img {
        margin-left: 20%;
        margin-top: 10px;
        width: 200px;
        height: 150px;
    }
    .wrapperrrrr .alignContent .content-wrapper {
        
         margin-left: 0;
        border-bottom: black 1px solid;
    }
    .wrapperrrrr .btn-blog button {
        width: 30%;
    }
}


