.wrapper {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.wrapper-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer_heading {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer_list {
  padding-left: 0;
}

.footer_list li {
  list-style: none;
  margin-bottom: 10px;

}

.footer_list button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;

}

.footer_list button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

}



.footer_form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input_search {
  width: 200px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 10px;
  font-family: 'Arial', sans-serif;
}


.btn_submit {
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bolder;

}

.footer_social {
  margin-top: 20px;
}

.social-button {
  list-style: none;
}

.social-button button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.wrapper-menu {

  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 48px;
    align-self: flex-end;
    transform: scale(1);
    transition: transform 0.6s ease;

    &:hover {
      transform: scale(0.8);
      transition: transform 0.6s ease;

    }
  }

  .menu-content {

    margin-left: 50px;

    
  }

  .col {
    a {
      padding-top: 30px;
      color: #000;
      display: flex;
      gap: 5px;
      font-size: 15px;

    }
    p{
      font-size: 13px;

    }

   
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;


}