.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(231, 231, 231);

    &.scrolled {
        background-color: white;
    }

    &.menu-open {

       
        .logo {

            transform: scale(1);
            background: none;
            border: none;
            cursor: pointer;

        }

        .contact {
            visibility: visible;
            background: none;
            border: none;

            span {
                color: black;

            }
        }

    }

    .contact {
        visibility: hidden;
        margin-left: 50px;

        span {
            font-weight: bold;
            color: white;

            &.scrolled {
                color: black;
                visibility: visible;
                transform: translateY(100%);
                transition: transform 0.5s ease;
            }
        }
    }

    .logo {
        margin-left: 130px;
        transform: scale(9) translateY(30%);
        transition: transform 0.5s ease;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 150px;


        }

        &.scrolled {
            transform: scale(1);
            background: none;
            border: none;
            cursor: pointer;
        }


    }

    .actions {
        display: flex;
        align-items: center;

        li {
            margin-top: 95px;
            list-style: none;
            margin-left: 20px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                margin: 0 5px;
                color: white;
                font-size: 17px;
                margin-top: 50px;
                padding-left: 10px;
                transform: translateY(20%);
                transition: transform 0.5s ease;

                &.scrolled {
                    margin-top: 25px;
                    color: black;
                    transform: translateY(-270%);
                    transition: transform 0.5s ease;
                }
            }
        }
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 550px;
        height: 100%;
        background-color: white;
        z-index: 1000;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .close-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 48px;
        align-self: flex-end;
        transform: scale(1) ;
        transition: transform 0.6s ease;
        &:hover{
            transform: scale(0.8) ;
        transition: transform 0.6s ease;
            
        }


    }
    
    

    .menu-content {



        li {
            list-style: none;


            button {
                position: relative;
                font-size: 20px;
                border: none;
                background: none;
                cursor: pointer;
                padding-bottom: 1.5rem;
                padding-top: 0px;
                margin-left: 40px;
                transition: color 0.3s ease;

                .direct {
                    position: absolute;
                   padding-left: 5px;
                    top: 6px;
                    opacity: 0;
                    transition: transform 0.5s ease, opacity 0.6s ease;
                    font-size: 10px;
                    
                }

                &:hover {
                    color: #000; // Add desired hover color

                    .direct {
                        opacity: 1;
                        transform: translateX(30%);
                        font-size: 10px;
                    }
                }
            }
        }
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;

        
    }
}