.wrapperrr {
   
    margin-top: 100px;
    
    padding: 20px;
    text-align: center;
    
}
.home-page {
    padding: 20px;
}

.body-content {
    max-width: 800px;
    margin: 0 auto;
}

.body-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.body-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}
.date-picker{
   
    margin-right: 300px;
    width: 470px;
}
