.wrapperrrr {
   
    margin-top: 1000px;
    padding-top: 100px;
    max-width: 400px;
    margin: 100px auto;  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
   
    h1 {
        margin-bottom: 20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 95%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }

        .login-button {
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

   
}
